---
import { Image } from 'astro:assets';
import { singletons } from '@lib/keystatic';

const friends = (await singletons.buttons.readOrThrow()).friends;
---

<div class="flex flex-wrap gap-5 pt-5 md:gap-2.5 lg:gap-4">
  {
    friends.map((friend) => {
      return (
        <a href={friend.url} title={`${friend.name}'s site`} target="_blank">
          <Image
            class="h-[31px] w-[88px]"
            src={friend.image}
            alt={`Webring of ${friend.name}`}
            width={88}
            height={31}
          />
        </a>
      );
    })
  }
</div>
