# build output
dist/

# astro
.astro

# dependencies
node_modules/

# environment variables
**/.env.example

# editors / ides
.idea
.vscode

# git
.git

# nix
**/flake.nix
**/flake.lock

# toolchains
**/.editorconfig
**/.prettierignore
**/.prettierrc.json
**/eslint.config.ts