# build output
dist/
.output/
.astro/

# dependencies
node_modules/

# logs
logs
npm-debug.log*

# environment variables
.env

# IntelliJ IDEA / WebStorm
.idea

# OS-specific files
.DS_Store
desktop.ini