# build output
dist/
.output/
.astro/

# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# yarn
.yarn/

# environment variables
.env
.env.production

# lock
package-lock.json
yarn.lock

*.md
*.mdx