# Credit goes to Ovyerus <https://github.com/Ovyerus> for the Caddyfile :)

# HTTPS is expected to be handled by Cloudflare or some other reverse proxy.
{
  auto_https off
}

(cors) {
  @cors_preflight method OPTIONS
  @giscus_css path /giscus.css

  header @giscus_css {
    Access-Control-Allow-Origin https://giscus.app
    Access-Control-Allow-Methods GET
    Access-Control-Allow-Headers *
    Access-Control-Expose-Headers *
  }

  handle @cors_preflight {
    header {
      Access-Control-Allow-Methods "GET, POST, OPTIONS"
      Access-Control-Allow-Origin https://giscus.app
      Access-Control-Allow-Headers *
      Access-Control-Max-Age 3600
    }
    respond "" 204
  }
}


:8080 {
  @localhost {
    host localhost
  }

  root @localhost dist
  root * /var/www/html
  encode gzip # TODO: check options
  file_server
  log

  import cors

  reverse_proxy /script.js https://umami.sappho.systems {
    header_up Host {upstream_hostport}
  }
  reverse_proxy /api/send https://umami.sappho.systems {
    header_up Host {upstream_hostport}
  }

  handle_errors {
    @404 {
      expression {http.error.status_code} == 404
    }

    rewrite @404 /404.html
    file_server
  }
}
