# Credit goes to Ovyerus <https://github.com/Ovyerus> for the Caddyfile :)

# HTTPS is expected to be handled by Cloudflare or some other reverse proxy.
{
  auto_https off

  # see: https://caddyserver.com/docs/caddyfile/directives#directive-order
  order umami after route
}

:8080 {
  @localhost {
    host localhost
  }

  root @localhost dist
  root * /var/www/html
  encode gzip # TODO: check options
  file_server
  log

	umami {
		event_endpoint "https://umami.sappho.systems/api/send"
		website_uuid "1279cae7-78b6-4bfd-b13c-10d4dd9893ee"
    allowed_extensions "" .html .xml .png
		device_detection
	}

  handle_errors {
    @404 {
      expression {http.error.status_code} == 404
    }

    rewrite @404 /404.html
    file_server
  }
}
