# HTTPS is expected to be handled by Cloudflare or some other reverse proxy.
{
  auto_https off
}

:8080 {
  root * /var/www/html
  encode gzip # TODO: check options
  file_server
  log

  reverse_proxy /js/script.js https://stats.sappho.systems {
    header_up Host {upstream_hostport}
  }
  reverse_proxy /api/event https://stats.sappho.systems {
    header_up Host {upstream_hostport}
  }
}
