:root {
    --charlemagne: #e2dbdbb2;
    --destinyitemmanager: #F37422;
    --destinyinsights: #C0316E;
    --destinyrecipes: #C8435D;
    --destinysets: #57B2AD;
    --destinytracker: #E34525;
    --ghostoverlay: #ffffffd2;
    --guardiantheater: #B798C9;
    --ishtarcoll: #4485C4;
    --ishtarcomm: #d6d6d6c5;
    --levante: #87D3C6;
    --littlelight: #9e88ffcc;
    --lostsector: #8880b6;
    --scrublandeux: #9fdd18;
    --todayindestiny: #51a8a8;
    --trialsreport: #EAD884;
}

.charlemagne :is(h2 a, li a, hr)  { color: var(--charlemagne); border-color: var(--charlemagne) }
.destinyitemmanager :is(h2 a, li a, hr) { color: var(--destinyitemmanager); border-color: var(--destinyitemmanager); }
.destinyinsights :is(h2 a, li a, hr) { color: var(--destinyinsights); border-color: var(--destinyinsights); }
.destinyrecipes :is(h2 a, li a, hr) { color: var(--destinyrecipes); border-color: var(--destinyrecipes); }
.destinysets :is(h2 a, li a, hr) { color: var(--destinysets); border-color: var(--destinysets); }
.destinytracker :is(h2 a, li a, hr) { color: var(--destinytracker); border-color: var(--destinytracker); }
.ghostoverlay :is(h2 a, li a, hr) { color: var(--ghostoverlay); border-color: var(--ghost); }
.guardiantheater :is(h2 a, li a, hr) { color: var(--guardiantheater); border-color: var(--guardiantheater); }
.ishtarcoll :is(h2 a, li a, hr) { color: var(--ishtarcoll); border-color: var(--ishtarcoll); }
.ishtarcomm :is(h2 a, li a, hr) { color: var(--ishtarcomm); border-color: var(--ishtarcomm); }
.levante :is(h2 a, li a, hr) { color: var(--levante); border-color: var(--levante); }
.littlelight :is(h2 a, li a, hr) { color: var(--littlelight); border-color: var(--littlelight); }
.lostsector :is(h2 a, li a, hr) { color: var(--lostsector); border-color: var(--lostsector); }
.scrublandeux :is(h2 a, li a, hr) { color: var(--scrublandeux); border-color: var(--scrublandeux); }
.todayindestiny :is(h2 a, li a, hr) { color: var(--todayindestiny); border-color: var(--todayindestiny); }
.trialsreport :is(h2 a, li a, hr) { color: var(--trialsreport); border-color: var(--trialsreport); }

#ishtarcomm { filter: grayscale(1); }

.parallel > div {
    float: left; 
    padding-right: 12px;
}

.parallel > img {
    max-width: 100px; 
    border-radius: 100%; 
    margin-bottom: 0px;
}

.parallel-img { float: right; }
.parallel-img-alt { 
    float: right; 
    margin-top: 20px;
}