---
import { nameToEmoji } from 'gemoji';

interface Props {
  name: string;
}

const { name } = Astro.props;
---

{
  Object.entries(nameToEmoji)
    .filter((c) => c.includes(name))
    .map(([name, emoji]) => (
      <span role="img" aria-label={name}>
        {emoji}
      </span>
    ))
}
