---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes, HTMLTag } from 'astro/types';

interface Props extends HTMLAttributes<'h1'> {
  level: 1 | 2 | 3 | 4 | 5 | 6;
  id: string;
}

const { level, id } = Astro.props;
const HeadLevel: HTMLTag = `h${level}`;
---

<HeadLevel class="flex flex-row items-center" id={id}>
  <slot />
  <a href={`#${id}`}><Icon size={20} name="mdi:link-variant" /></a>
</HeadLevel>
