---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  href: string;
  title?: string;
}

const { href, title } = Astro.props;
---

<a {href} {title} target="_blank"><slot /></a>
