---
import Layout from '@layouts/Page.astro';
---

<Layout description="Nothing but dust and ghosts..." pageTitle="404 | Page Not Found" title="404 | Sapphic Angels">
  <header>
    <h1 class="title">404</h1>
    <p class="italic">Nothing but dust and ghosts...</p>
  </header>

  <p>The page you were looking for does not reside here, unfortunately.</p>
</Layout>
