---
import Layout from '@layouts/Page.astro';
---

<Layout
  description="Translator, developer, hobbyist sysadmin."
  pageTitle="404 | Page Not Found"
  title="Chloe Arciniega"
>
  <span class="title">404</span>
  <span class="italic">Nothing but dust and ghosts...</span>

  <hr class="text-ctp-mauve dark:text-ctp-pink" />

  The page you were looking for does not reside here, unfortunately.
</Layout>
