---
import Layout from '@layouts/Layout.astro';
import Footer from '@components/footer.astro';
---

<Layout
  color="#e0802c"
  description="Translator, developer, hobbyist sysadmin."
  icon="/favicon.png"
  siteName="404 | Chloe Arciniega"
  title="404 | Chloe Arciniega"
>
<header>
    <h2 class="underline">Page Not Found</h2>
    <p>The page you were looking for does not reside here, unfortunately.</p>
</header>
</Layout>
<Footer />
