---
export const prerender = true;

import Layout from '@layouts/Page.astro';

import Line from '@components/base/Underline.astro';
---

<Layout
  description="Translator, developer, hobbyist sysadmin."
  pageTitle="404 | Page Not Found"
  title="Chloe Arciniega"
>
  <Line>404</Line>
  <span class="italic">Nothing but dust and ghosts...</span>

  <span>The page you were looking for does not reside here, unfortunately.</span>
</Layout>
