---
import Layout from '@layouts/Page.astro';
---

<Layout
  description="Software engineer, sysadmin, community manager."
  pageTitle="404 | Page Not Found"
  title="Chloe Arciniega"
>
  <header>
    <h1 class="title">404</h1>
    <p class="italic">Nothing but dust and ghosts...</p>
  </header>

  <hr class="text-ctp-mauve dark:text-ctp-pink" />

  <p>The page you were looking for does not reside here, unfortunately.</p>
</Layout>
