---
import Layout from '@layouts/page.astro';

import Line from '@components/underline.astro';
import Link from '@components/link.astro';
---

<Layout
  description="Translator, developer, hobbyist sysadmin."
  pageTitle="404 Page not found"
  title="404 | Chloe Arciniega"
>
  <main class="content text-3xl">
    <Line>404</Line>

    <span class="pt-5 pb-3">The page you were looking for does not reside here, unfortunately.</span>

    <hr class="border-light-accent dark:text-ctp-pink" />
    <Link href="/" class="pb-3" title="Go Home">Go Home</Link>
  </main>
</Layout>
