---
import Layout from '@layouts/Page.astro';

import Line from '@components/Underline.astro';
import Footer from '@components/Footer.astro';
---

<Layout
  description="Translator, developer, hobbyist sysadmin."
  pageTitle="404 | Page Not Found"
  title="Chloe Arciniega"
>
  <main class="content flex flex-col">
    <Line>Page Not Found</Line>
    <span class="italic">Nothing but dust and ghosts...</span>

    <span>The page you were looking for does not reside here, unfortunately.</span>

    <Footer />
  </main>
</Layout>
