---
import Layout from '@layouts/page.astro';

import Contribution from '@components/contribution.astro';
import Footer from '@components/footer.astro';
import Line from '@components/underline.astro';
---

<Layout
  description="See what I made and what projects I have contributed to."
  pageTitle="Contributions"
  title="Contributions | Chloe Arciniega"
>
  <main class="content text-3xl">
    <Line>Contributions</Line>

    <div class="more flex flex-grow flex-col">
      <ul class="flex flex-grow list-inside list-disc flex-col gap-5 pt-2">
        <Contribution
          link="https://arciniega.one"
          name="arciniega.one"
          description="The site you're viewing right now!"
          tag="Developer"
          date="Sep 2021 - present"
        />

        <Contribution
          link="https://bray.tech"
          name="Braytech"
          description="View & map checklists, track & view triumphs, inspect collectibles, and much more!"
          tag="Translator"
          date="Feb 2022 - present"
          borderColor="border-braytech"
          textColor="text-braytech"
        />

        <Contribution
          link="https://destinyitemmanager.com"
          name="Destiny Item Manager"
          description="Your Destiny items anywhere, anytime."
          tag="Translator"
          date="Dec 2021 - present"
          borderColor="border-dim"
          textColor="text-dim"
        />

        <Contribution
          link="https://destinyrecipes.com"
          name="Destiny Recipes"
          description="A collection of tools to help you at Destiny 2."
          tag="Translator"
          date="Jan 2022 - present"
          borderColor="border-destinyrecipes"
          textColor="text-destinyrecipes"
        />

        <Contribution
          link="https://dijit.studio"
          name="Dijit"
          description="Coming Soon."
          tag="???"
          date="Dec 2021 - present"
        />

        <Contribution
          link="https://discord.bots.gg"
          name="Discord Bots"
          description="The original Discord bot list. Find the right bot for your server today."
          tag="Approval Helper"
          date="Jun 2020 - present"
          borderColor="border-dbots"
          textColor="text-dbots"
        />

        <Contribution
          link="https://littlelight.club"
          name="Little Light"
          description="An item manager for Destiny 2 that will make your Guardian's life a lot easier."
          tag="Translator"
          date="Dec 2021 - present"
          borderColor="border-littlelight"
          textColor="text-littlelight"
        />

        <Contribution
          link="https://novecore.com"
          name="Novecore"
          description="The next generation of music distribution."
          tag="Translator"
          date="Dec 2021 - present"
          borderColor="border-novecore"
          textColor="text-novecore"
        />

        <Contribution
          link="https://parallel.report"
          name="Parallel Program Report"
          description="Covers Guardians who contributed to Destiny 2 and/or its API in a meaningful way, and have received the Parallel Program emblem."
          tag="Developer"
          date="Feb 2022 - present"
          borderColor="border-parallel"
          textColor="text-parallel"
        />

        <Contribution
          link="https://github.com/solelychloe/simple-fm"
          name="simple-fm"
          description="A simple, asynchronous Last.fm wrapper in TypeScript."
          tag="Developer"
          date="Feb 2023 - present"
        />
      </ul>
    </div>

    <Line>Past works</Line>

    <div class="more flex flex-grow flex-col">
      <ul class="flex flex-grow list-inside list-disc flex-col gap-5 pt-2">
        <Contribution
          link="https://hibiki.app"
          name="Hibiki"
          description="The best all-in-one Discord bot! Automod, fun, music, utilities, and more."
          tag="Developer"
          date="Sep 2018 - Mar 2020"
        />

        <Contribution
          link="https://github.com/solely-archive/enlive"
          name="ENLiVE"
          description="ENLiVE is a English and Japanese VTuber group."
          tag="Developer"
          date="Mar 2020 - Jun 2020"
        />

        <Contribution
          link="https://github.com/terminal"
          name="terminal"
          description="A group for Discord bot developers."
          tag="Contributor"
          date="Apr 2017 - Apr 2019"
        />
      </ul>

      <Footer />
    </div>
  </main>
</Layout>
