---
import Layout from '@layouts/Page.astro';

import Contribution from '@components/Contribution.astro';
import Footer from '@components/Footer.astro';
import Line from '@components/Underline.astro';
---

<Layout
  description="See what I made and what projects I have contributed to."
  pageTitle="Contributions"
  title="Contributions | Chloe Arciniega"
>
  <main class="content">
    <Line>Contributions</Line>

    <section class="flex flex-grow flex-col">
      <ul class="flex flex-grow list-inside list-disc flex-col gap-3 pt-2">
        <Contribution
          link="https://arciniega.one"
          title="arciniega.one"
          description="The site you're viewing right now!"
          date="2021 - present"
          image="/lotus.png"
        />

        <Contribution
          link="https://bray.tech"
          title="Braytech"
          description="View & map checklists, track & view triumphs, inspect collectibles, and much more!"
          tag="Translator"
          date="2022 - present"
          borderColor="border-rosewater"
          textColor="text-rosewater"
          image="/contributions/Braytech.jpg"
        />

        <Contribution
          link="https://destinyitemmanager.com"
          title="Destiny Item Manager"
          description="Your Destiny items anywhere, anytime."
          tag="Translator"
          date="2021 - present"
          borderColor="border-dim"
          textColor="text-dim"
          image="/contributions/DIM.png"
        />

        <Contribution
          link="https://destinyrecipes.com"
          title="Destiny Recipes"
          description="A collection of tools to help you at Destiny 2."
          tag="Translator"
          date="2022 - present"
          borderColor="border-destinyrecipes"
          textColor="text-destinyrecipes"
          image="/contributions/DestinyRecipes.png"
        />

        <Contribution
          link="https://dijit.studio"
          title="Dijit"
          description="Coming Soon."
          more="Nothing but dust and ghosts... Check back later. Maybe this page will be updated. Maybe not."
          tag="Contributor"
          date="2021 - present"
          image="/contributions/Dijit.png"
        />

        <Contribution
          link="https://discord.bots.gg"
          title="Discord Bots"
          description="The original Discord bot list. Find the right bot for your server today."
          tag="Approval Helper"
          date="2020 - present"
          borderColor="border-dbots"
          textColor="text-dbots"
          image="/contributions/DiscordBots.png"
        />

        <Contribution
          link="https://littlelight.club"
          title="Little Light"
          description="An item manager for Destiny 2 that will make your Guardian's life a lot easier."
          tag="Translator"
          date="2021 - present"
          borderColor="border-littlelight"
          textColor="text-littlelight"
          image="/contributions/LittleLight.png"
        />

        <Contribution
          link="https://novecore.com"
          title="Novecore"
          description="The next generation of music distribution."
          tag="Contributor"
          date="2021 - present"
          borderColor="border-novecore"
          textColor="text-novecore"
          image="/contributions/Novecore.jpg"
        />

        <Contribution
          link="https://parallel.report"
          title="Parallel Program Report"
          description="Covers Guardians who contributed to Destiny 2 and its API in a meaningful way, and have received the Parallel Program emblem."
          date="2022 - present"
          borderColor="border-parallel"
          textColor="text-parallel"
          image="/contributions/Parallel.png"
        />

        <Contribution
          link="https://github.com/solelychloe/simple-fm"
          title="simple-fm"
          description="A simple, asynchronous Last.fm wrapper in TypeScript."
          date="2023 - present"
          borderColor="border-ctp-blue"
          textColor="text-ctp-blue"
          image="/contributions/simple-fm.png"
        />
      </ul>
    </section>

    <Line>Past works</Line>

    <section class="flex flex-grow flex-col">
      <ul class="flex flex-grow list-inside list-disc flex-col gap-3 pt-2 pb-2">
        <Contribution
          link="https://hibiki.app"
          title="Hibiki"
          description="The best all-in-one Discord bot! Automod, fun, music, utilities, and more."
          tag="Developer"
          date="Sep 2018 - Mar 2020"
          image="/contributions/Hibiki.png"
        />

        <Contribution
          link="https://github.com/solely-archive/enlive"
          title="ENLiVE"
          description="A (former) English and Japanese VTuber group."
          tag="Website Developer"
          date="Mar 2020 - Jun 2020"
          borderColor="border-enlive"
          textColor="text-enlive"
          image="/contributions/ENLiVE.jpg"
        />
      </ul>

      <Footer />
    </section>
  </main>
</Layout>
