---
import Layout from '@layouts/Page.astro';

import Footer from '@components/Footer.astro';
import Music from '@components/Music.astro';

import simpleFM from '@solely/simple-fm';

import { misc } from '@config';

const client = new simpleFM(import.meta.env.LAST_FM_KEY);

const { currentlyPlaying, tracks } = await client.user.fetchRecentTracks(misc.lastFM.username);
---

<Layout description="What I may currently be listening to." pageTitle="Last.fm" title="Last.fm | Chloe Arciniega">
  <main class="content">
    <Music currentlyPlaying={currentlyPlaying} track={tracks[0]} username={misc.lastFM.username} />

    <Footer />
  </main>
</Layout>
