---
import Layout from '@layouts/Page.astro';
import Avatar from '@components/base/Avatar.astro';
import Friends from '@components/home/Friends.astro';
---

<Layout
  description="Software engineer, sysadmin, community manager."
  pageTitle="Chloe Arciniega"
  title="Home | Chloe Arciniega"
>
  <header class="sm:flex sm:items-center sm:justify-between">
    <a
      href="https://solstice.tf/avatar"
      title="A link to my avatar. The character displayed here is Silver Wolf from the videogame Honkai: Star Rail."
      target="_blank"
    >
      <Avatar class="w-20" width={50} height={50} />
    </a>

    <div class="order-first flex flex-col py-3">
      <div class="flex flex-col">
        <h1 class="text-4xl font-bold text-ctp-red md:text-5xl">Chloe Arciniega</h1>
        <p class="text-ctp-subtext0">(she/her, they/them)</p>
      </div>

      <h3 class="text-2xl">Software engineer, sysadmin, community manager.</h3>
    </div>
  </header>

  <section class="flex flex-col gap-5 pt-3">
    <h1 class="title">Hello!</h1>

    <p>
      I'm a software engineer with a fascination for system administration and messing about with pieces of technology.
      Feel free to look around to get to know me better!
    </p>
  </section>

  <section class="pt-5 motion-reduce:hidden">
    <h1 class="title">Friends</h1>

    <Friends />
  </section>
</Layout>
