---
import Layout from '@layouts/Page.astro';
import { Image } from 'astro:assets';
import Friends from '@components/home/Friends.astro';
---

<Layout
  description="Software engineer, sysadmin, community manager."
  pageTitle="Chloe Arciniega"
  title="Home | Chloe Arciniega"
>
  <header class="sm:flex sm:items-center sm:justify-between">
    <a
      href="https://solstice.tf/avatar"
      title="A link to my avatar. The character displayed here is Silver Wolf from the videogame Honkai: Star Rail."
      target="_blank"
    >
      <Image
        class="inline-flex aspect-square w-20 overflow-hidden rounded-full"
        src="/avatar.webp"
        width={50}
        height={50}
        alt="A link to my avatar. The character displayed here is Silver Wolf from the videogame Honkai: Star Rail."
      />
    </a>

    <span class="order-first flex flex-col pb-3 pt-3">
      <span class="flex flex-col flex-wrap md:block">
        <span class="text-4xl font-bold text-ctp-red md:text-5xl">Chloe Arciniega</span>
        <span class="pb-1 text-ctp-subtext0 md:pt-4">(she/her, they/them)</span>
      </span>

      <span class="text-2xl">Software engineer, sysadmin, community manager.</span>
    </span>
  </header>

  <section class="flex flex-col gap-5 pt-3">
    <span class="title">Hello!</span>

     I'm a software engineer with a fascination for system administration and messing about with pieces of technology. Feel
    free to look around to get to know me better!
  </section>

  <span class="pt-5 motion-reduce:hidden">
    <span class="title">Friends</span>
    <Friends />
  </span>
</Layout>
