---
import Layout from '@layouts/Layout.astro';
import Footer from '@components/footer.astro';
import '../assets/details-polyfill.js'
---

<Layout 
  color="#e0802c"
  description="Translator, developer, hobbyist sysadmin."
  icon="/favicon.png"
  siteName="Chloe Arciniega"
  title="Chloe Arciniega"
>

<header class="me">
	<h1 class="name">Chloe Arciniega</h1>
	<p class="aka"><code><b>aka</b></code> solely, solelychloe</p>
	<p class="pronouns"><code><b>pronouns</b></code> she/her, they/them</p>
	<p class="subtitle">Translator, developer, hobbyist sysadmin. Computer witch.</p>
		
	<section class="links">
		<a href="https://discord.com/users/312145496179474434" aria-label="Discord: solely#0001" title="Discord: solely#0001" target="_blank">Discord</a>
		<a href="https://twitter.com/solelychloe" aria-label="Twitter: solelychloe" title="Twitter: solelychloe" target="_blank">Twitter</a>
		<a href="https://uwu.social/@solely" aria-label="Fediverse: solely@uwu.social" rel="me" title="Fediverse: solely@uwu.social" target="_blank">Fediverse</a>
		<a href="https://t.me/solelychloe" aria-label="Telegram: solelychloe" title="Telegram: solelychloe" target="_blank">Telegram</a>
		<a href="https://github.com/solelychloe" aria-label="GitHub: solelychloe" title="GitHub: solelychloe" target="_blank">GitHub</a>
		<a href="mailto:solely@riseup.net" aria-label="Mail: solely@riseup.net" title="Mail: solely@riseup.net" target="_blank">Mail</a>
	</section>
</header>
	
<section class="about">
	<h2 class="underline">About me</h2>
	<p>Hiya! I am Chloe.</p>
	<p>I'm a trans computer science student girl, who likes to build software and translate projects around the Internet.</p>

	<p>If you're interested in checking out my stuff, go <a href="/projects" title="My Projects">here</a>!</p>

	<details class="description">
		<summary class="expand">Click to expand...</summary>

		<p>As someone who has impaired vision, I also try and strive for accessibility where possible, with subtitles & alt text for my content being where I want to start.</p>
		<p>Often, I like to experiment with 
			<a href="https://www.rust-lang.org/" title="Rust Programming Language">Rust</a>, 
			<a href="https://www.typescriptlang.org/" title="TypeScript, JavaScript with syntax for types">TypeScript</a>,
			<a href="https://sass-lang.com/" title="SASS (Syntactically Awesome Style Sheets)">SASS</a>,
			<a href="https://astro.build" title="Astro Site Builder">Astro</a>, 
			and <a href="https://www.postgresql.org/" title="PostgreSQL Database">PostgreSQL</a> for database management.
		</p>
		<p>I like tinkering with vintage computer hardware! Also as an aspiring sysadmin, I do transforming hardware into NAS, running media & game servers, and utilizing Virtual Machines when the need arises.</p>
		<p>In my spare time, I like to play video games, listen to my music playlist, learning other languages (Czech, German, etc), and a lot more.</p>
	</details>
</section>
</Layout>
<Footer />
