---
import Layout from '@layouts/Page.astro';
import Friends from '@components/home/Friends.astro';
---

<Layout pageTitle="Chloe Arciniega">
  <section class="flex flex-col gap-5 pt-3">
    <h1 class="title">Hello!</h1>

    <p>
      I'm Chloe, a software engineer with a fascination for system administration and messing about with pieces of
      technology. Feel free to look around to get to know me better! ^w^
    </p>
  </section>

  <section class="pt-5 motion-reduce:hidden">
    <h1 class="title">Friends</h1>

    <Friends />
  </section>
</Layout>
