---
import Layout from '@layouts/Page.astro';

import { Icon } from 'astro-iconify';
import { Image } from 'astro:assets';

import ArticleItems from '@components/blog/ArticleItems.astro';
import Friends from '@components/home/Friends.astro';

import { getCollection } from 'astro:content';

const articles = await getCollection('articles');
---

<Layout
  description="Translator, developer, hobbyist sysadmin."
  pageTitle="Chloe Arciniega"
  title="Home | Chloe Arciniega"
>
  <header class="sm:flex sm:items-center sm:justify-between">
    <a
      href="https://solstice.tf/avatar"
      title="A link to my avatar. The character displayed here is Silver Wolf from the videogame Honkai: Star Rail."
      target="_blank"
    >
      <Image
        class="inline-flex aspect-square w-20 overflow-hidden rounded-full"
        src="/avatar.webp"
        width={50}
        height={50}
        alt="A link to my avatar. The character displayed here is Silver Wolf from the videogame Honkai: Star Rail."
      />
    </a>

    <span class="order-first flex flex-col pb-3 pt-3">
      <span class="flex flex-col flex-wrap md:block">
        <span class="font-display text-4xl font-bold text-ctp-red md:text-5xl">Chloe Arciniega</span>
        <span class="pb-1 text-ctp-subtext1 md:pt-4">(she/her, they/them)</span>
      </span>

      <span class="text-2xl">Software engineer, aspiring sysadmin, computer witch.</span>
    </span>
  </header>

  <section class="flex flex-col gap-5 pt-3">
    <span class="title">Hiya!</span>

     Welcome to my slice of the web! I'm a software engineer with a fascination for system administration and messing about
    with pieces of technology.

    <span> Feel free to look around to get to know me better!</span>
  </section>

  <section class="flex flex-col pt-5">
    <span class="title pb-3">Recent posts</span>

    {
      articles
        .slice(0, 3)
        .sort((a, b) => new Date(b.data.created).valueOf() - new Date(a.data.created).valueOf())
        .map(({ data, slug }) => <ArticleItems data={data} slug={slug} />)
    }

    <span class="flex flex-row-reverse pb-2">
      <Icon size={35} name="mdi:arrow-right-thin" />
      <a href="/articles" title="See more articles">See more articles</a>
    </span>
  </section>

  <span class="pt-5 motion-reduce:hidden">
    <span class="title">My friends</span>
    <Friends />
  </span>
</Layout>
