---
import Layout from '@layouts/page.astro';

import Footer from '@components/footer.astro';

import Friends from '@components/home/friends.astro';
import Header from '@components/home/header.astro';
import Intro from '@components/home/intro.astro';
import Socials from '@components/home/socials.astro';
---

<Layout
  description="Translator, developer, hobbyist sysadmin."
  pageTitle="Chloe Arciniega"
  title="Home | Chloe Arciniega"
>
  <main class="content text-3xl">
    <div class="about flex flex-col gap-3">
      <Header />
      <Socials />
    </div>

    <Intro>
      <Footer />
      <Friends />
    </Intro>
  </main>
</Layout>
