---
import Layout from '@layouts/Page.astro';

import Footer from '@components/Footer.astro';

import Friends from '@components/home/Friends.astro';
import Header from '@components/home/Header.astro';
---

<Layout
  description="Translator, developer, hobbyist sysadmin."
  pageTitle="Chloe Arciniega"
  title="Home | Chloe Arciniega"
>
  <main class="content">
    <section class="about flex flex-col gap-3">
      <Header />
    </section>

    <Footer />
    <Friends />
  </main>
</Layout>
