---
import Layout from '@layouts/layout.astro';
import Footer from '@components/footer.astro';
import { Icon } from 'astro-icon';
---

<Layout
  color="#e0802c"
  description="Translator, developer, hobbyist sysadmin."
  icon="/favicon.png"
  siteName="Chloe's Projects"
  title="Chloe's Projects"
>

<div class="contributions">
  <h2 class="underline">Contributions</h2>
  <ul>
      <li><a href="https://bray.tech" aria-label="Braytech" title="Braytech" target="_blank">Braytech <Icon size={10} name="mdi:external-link" /></a> (Translator):
          View & map checklists, track & view triumphs, inspect collectibles, and much more!</li>
      <li><a href="https://destinyitemmanager.com/" aria-label="Destiny Item Manager" title="Destiny Item Manager" target="_blank">Destiny Item Manager <Icon size={10} name="mdi:external-link" /></a> (Translator):
          Your Destiny items anywhere, anytime.</li>
      <li><a href="https://destinyrecipes.com" aria-label="Destiny Recipes" title="Destiny Recipes" target="_blank">Destiny Recipes <Icon size={10} name="mdi:external-link" /></a> (Translator):
          A collection of tools to help you at Destiny 2.</li>
      <li><a href="https://discord.bots.gg/" aria-label="Discord Bots" title="Discord Bots" target="_blank">Discord Bots <Icon size={10} name="mdi:external-link" /></a> (Verification Helper): 
          The original Discord bot list, find the right bot for your server today.</li>
      <li><a href="https://www.littlelight.club/" aria-label="Little Light" title="Little Light" target="_blank">Little Light <Icon size={10} name="mdi:external-link" /></a> (Translator):
          An item manager for Destiny 2 that will make your Guardian's life a lot easier.</li>
      <li><a href="/parallel" aria-label="Parallel Program List" title="Parallel Program List">Parallel Program List</a>:
          Covers Guardians who have the Parallel Program emblem in Destiny 2.</li>
      <li><a href="https://github.com/terminal/" aria-label="terminal" title="terminal" target="_blank">terminal <Icon size={10} name="mdi:external-link" /></a> (Contributor): 
          A group for Discord bot developers. </li>
  </ul>
</div>

<div class="previous">
  <h2 class="underline">Previous work</h2>
  <ul>
      <li><a href="https://www.novecore.com/" title="Novecore">Novecore <Icon size={10} name="mdi:external-link" /></a> (Contract Translator, December 2021):
          The next generation of music distribution.</li>
      <li><a href="https://hibiki.app/" title="Hibiki">Hibiki <Icon size={10} name="mdi:external-link" /></a> (Translator, February - July 2021): 
          The best all-in-one Discord bot! Automod, fun, music, utilities, and more.</li>
      <li><a href="https://github.com/solelychloe/enlive" title="ENLiVE.media">ENLiVE <Icon size={10} name="mdi:external-link" /></a> (Website Developer, March - July 2020): 
          ENLiVE is a English and Japanese VTuber group.</li>
      <li><a href="https://hibiki.app/" title="Hibiki">Hibiki <Icon size={10} name="mdi:external-link" /></a> (Lead Developer, September 2018 - August 2019): 
          The best all-in-one Discord bot! Automod, fun, music, utilities, and more.</li>
      <li><a href="https://github.com/jiktim" title="jiktim">jiktim <Icon size={10} name="mdi:external-link" /></a> (Contributor, August 2016 - 2019): 
          Stupid people making stupid software.</li>
  </ul>
</div>

<Footer />
</Layout>
