---
import Link from '@components/link.astro';
---

<summary class="flex flex-col gap-6 text-3xl">
  <hr class="text-light-accent mt-5 dark:text-ctp-pink" />

  <span class="italic">If you're still here, thank you! That means a lot.</span>

  As someone who has impaired vision, I try and strive for accessibility where possible! Subtitles and alternate text
  for my content is where I want to start first of all.

  <span>
    I like to experiment with Rust, TypeScript, Astro, C#, Tailwind, Docker, and a lot of other, interesting things.
  </span>

  <span>
    I also tinker around with vintage computer hardware! As a self-proclaimed sysadmin, I transform hardware into
    <abbr title="Network-attached storage">NAS</abbr>, run media & game servers, and utilize Virtual Machines for my
    specialized needs.
  </span>

  <span>
    In my spare time, I like to play video games, listen to
    <Link href="/fm" title="Playing page">my music playlist</Link>, learning other languages (Czech, German, etc), and a
    lot more.
  </span>
</summary>
