---
import { Image } from 'astro:assets';
import friends from '@utils/friends';
---

<div class="flex flex-wrap gap-3 pt-5 md:gap-2.5 lg:gap-3">
  {
    friends.map((friend) => {
      return (
        <a href={friend.link} title={`${friend.name}'s site`} target="_blank">
          <Image
            class="h-[31px] w-[88px]"
            src={`/friends/${friend.image}`}
            alt={`Webring of ${friend.name}`}
            width={88}
            height={31}
          />
        </a>
      );
    })
  }
</div>
