---
import { friends } from '@utils/index';
---

<span class="flex flex-wrap gap-1.5 pt-5 md:gap-3">
  {
    friends.map((friend) => {
      return (
        <a href={friend.link} title={`${friend.name}'s site`} target="_blank">
          <img src={`friends/${friend.image}`} alt={`Webring of ${friend.name}`} width="88" height="31" />
        </a>
      );
    })
  }
</span>
