---
import Link from '@components/Link.astro';
import Webring from '@components/home/Webring.astro';

import Friends from '@lib/Friends';
---

<span class="pt-3 pb-3 text-base italic">
  Below is a webring of people I find cool. <Link
    href="https://en.wikipedia.org/wiki/Webring"
    title="A redirect link to Wikipedia's definition of a webring."
  >
    (what is a webring?)
  </Link>
</span>

<div class="flex flex-wrap gap-[5.51px] md:gap-[13.45px]">
  {
    Friends.map((friend) => {
      return <Webring name={friend.name} link={friend.link} image={friend.image} />;
    })
  }
</div>
