---
import Webring from '@components/home/Webring.astro';

import Friends from '@lib/Friends';
---

<div class="flex flex-wrap gap-5 pb-2 pt-3 md:gap-3">
  {
    Friends.map((friend) => {
      return <Webring name={friend.name} link={friend.link} image={friend.image} />;
    })
  }
</div>
