---
import Line from '@components/Underline.astro';
import Link from '@components/Link.astro';
import Summary from '@components/home/Summary.astro';
import Socials from '@components/home/Socials.astro';
---

<header class="flex flex-col">
  <span class="name text-5xl font-bold text-ctp-red"> Chloe Arciniega</span>
  <span class="pb-2">(she/her, they/them)</span>
  <span class="text-2xl">Software engineer, aspiring sysadmin, computer witch.</span>
</header>

<Socials />

<section class="flex flex-col gap-6">
  <Line>About me</Line>

  <span>
    Hiya! I'm <span class="font-semibold text-ctp-red">Chloe</span>. I also go by the name
    <span class="font-semibold">solely</span>. 👋
  </span>

  <span>
    I'm a software engineer with a fascination for system administration and messing about with pieces of technology. I
    also do localization for popular third party <span class="font-semibold">Destiny</span> tools, such as
    <Link href="https://destinyitemmanager.com" title="Destiny Item Manager" target="_blank">Destiny Item Manager</Link>
    and
    <Link href="https://bray.tech" title="Braytech" target="_blank">Braytech</Link>.
  </span>

  <span>
    Wanna know more about the stuff that I have built? Visit my
    <Link href="/contributions" title="My contributions page">contributions page</Link>!
  </span>

  <Summary />

  <slot />
</section>
