<header class="about flex flex-col text-3xl">
  <span class="name text-[2.11em] font-bold text-ctp-pink md:text-[2.35em]">Chloe Arciniega</span>
  <p class="pronouns mb-2 -mt-6 text-[1em]">(she/her, they/them)</p>
  <p class="subtitle text-[1.2em]">Translator, developer, hobbyist sysadmin. Computer witch.</p>
</header>
