<header class="about flex flex-col text-3xl">
  <h1 class="name font-['Atkinson_Hyperlegible'] text-6xl font-bold">Chloe Arciniega</h1>
  <p class="pronouns mb-2 text-[1em]">(she/her, they/them)</p>
  <p class="subtitle text-[1.2em]">Translator, developer, hobbyist sysadmin. Computer witch.</p>
</header>
