<header class="about">
  <h1 class="name">Chloe Arciniega</h1>
  <p class="pronouns">(she/her, they/them)</p>
  <p class="subtitle">Translator, developer, hobbyist sysadmin. Computer witch.</p>
</header>

<style>
  .pronouns {
    font-size: 1em;
    margin-top: -1em;
  }

  .subtitle {
    font-size: 1.2em;
    margin-top: -0.4em;
    margin-bottom: -0.2em;
  }
</style>
