---
import { Image } from 'astro:assets';
import buttons from '@utils/other';
---

<div class="flex flex-wrap gap-5 pb-3 pt-5 md:gap-2.5 lg:gap-4">
  {
    buttons.map((button) => {
      return (
        <a
          href={button.link ?? null}
          title={button.name}
          target={button.link && !button.link?.startsWith('javascript:') ? '_blank' : null}
        >
          <Image class="h-[31px] w-[88px]" src={`/other/${button.image}`} alt={button.name} width={88} height={31} />
        </a>
      );
    })
  }
</div>
