---
import Link from '@components/base/Link.astro';
---

{
  /* prettier-ignore */ <section class="links pb-5 pt-1 text-2xl">
    <Link href="https://solstice.tf/discord" title="Discord" target="_blank">
      Discord</Link>

    <Link href="https://solstice.tf/bsky" title="Bluesky" target="_blank">
      Bluesky</Link>

    <Link href="https://solstice.tf/github" title="GitHub" target="_blank">
      GitHub</Link>

    <Link href="https://solstice.tf/fediverse" title="Fediverse" target="_blank">
      Fediverse</Link>

    <Link href="https://solstice.tf/twitter" title="Twitter" target="_blank">
      Twitter</Link>

    <Link href="https://solstice.tf/email" title="Mail" target="_blank">
      Mail</Link>
  </section>
}
