---
import { Icon } from 'astro-icon/components';
import Image from '$components/markdown/Image.astro';

interface Props {
  description: string;
  image: string;
  caption: string;
}

const { description, image, caption } = Astro.props;
---

<div class="flex flex-col">
  <details class="group border-2 border-ctp-mauve bg-ctp-crust p-4 dark:border-ctp-pink">
    <summary class="flex cursor-pointer select-none items-center justify-between">
      <div class="flex flex-col flex-wrap">
        <span class="font-bold">Spoiler:</span>
        {description}
      </div>

      <div class="relative h-10 w-10">
        <Icon
          name="mdi:plus"
          class="absolute opacity-100 group-open:opacity-0"
          size={40}
          aria-hidden="true"
        />
        <Icon
          name="mdi:minus"
          class="absolute opacity-0 group-open:opacity-100"
          size={40}
          aria-hidden="true"
        />
      </div>
    </summary>

    <Image src={image} alt={caption} />
  </details>
</div>

<style is:global>
  .group figure {
    img {
      @apply -mt-5;
    }
    figcaption {
      @apply -mb-10;
    }
  }
</style>
