:root {
    --bg: #000000;
    --bg-color: #BD488E;
    --bg-color-hovered: #F246AE;
    --font: 'Roboto', sans-serif;
}

* {
    margin: auto;
}

a, a:hover, a.goback, .hovered {
    color: var(--bg-color-hovered);
    text-decoration: none;
}

a.goback {
    cursor: pointer;
}

a, h1, h2:not(#name), h3, h4, h5, .color, #warning {
    color: var(--bg-color);
}

body {
    background-color: var(--bg);
    color: #FFF;
    font-family: var(--font);
    font-size: 1rem;
}

div.container {
    font-size: 1.25em;
    left: 50%;
    position: fixed;
    max-width: 45em;
    top: 50%;
    text-align: center;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.links {
    font-size: 38px;
    padding-top: 0.35em;
}

hr {
    border: 0; 
    border-top: 1px solid var(--bg-color);
    display: block;
    margin-top: 0.3em;
    width: 20em;
}

li::before {
    content: '• ';
}

li {
    display: block;
    margin-right: 30px;
}

p span:not(.color, .hovered) {
    display: block;
}

span {
    line-height: 1.6667;
}

.footer {
    display: block;
    font-size: 16px;
    line-height: 1.6em;
    margin-top: -15px;
    text-align: center;
    white-space: pre-line;
}

.links > a, a:hover, a:visited {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

@media only screen and (max-width: 1024px), not screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    div.container:not(.home, .projects) {
        overflow-x: hidden;
        width: 100vw;
        height: -40vh;
    }
}
  
@media only screen and (max-device-width: 480px) {
    div.container:not(.home, .projects) {
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
    }

    div.container.projects {
        overflow-x: hidden;
        width: 100vw;
    }
}