a {
    text-decoration: none;
}

a:hover, .hovered {
    color: #F246AE;
}

.links > a, a:hover, a:visited {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

a.goback {
    cursor: pointer;
}

body {
    background-color: #000;
    color: #FFF;
    padding: 13px;
    margin: auto;
    max-width: 30em;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

div.links {
    font-size: 30px;
}

.footer {
    font-size: 13px;
}

hr {
    margin-left: 0em;
    width: 32.5%;
}

a, h1, h2, h3, h4, h5,
.color, #warning {
    color: #BD488E;
}

p span:not(.color, .hovered) {
    display: block;
}
