a {
    text-decoration: none;
    color: #b52f80;
}

a:hover {
    color: #fc0098;
    transition: all 0.2s;
}

a.goback {
    cursor: pointer;
}

html, body {
    overflow-x: hidden;
    background-color: #000;
    color: #FFF;
    width: 100%;
    padding: 13px;
    margin: auto;
    max-width: 30em;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

div.links {
    font-size: 30px;
}

hr {
    margin-left: 0em;
    width: 32.5%;
}

.color {
    color: #b52f80;
}

p span:not(.color) {
    display: block;
}