---
import Link from '@components/Link.astro';
import Separator from '@components/Separator.astro';

const IS_PRODUCTION = import.meta.env.MODE === 'production';

const [credits, domains] = IS_PRODUCTION ? ['/credits', '/domains'] : ['/credits.txt', '/domains.txt'];
---

<footer class="flex flex-col pt-1">
  <slot />

  <hr class="text-ctp-mauve dark:text-ctp-pink" />

  <nav class="flex-cel flex flex-wrap gap-[15px] pb-1 pt-4 md:gap-[10px]">
    <Link href="/" title="Home" rel="prefetch">Home</Link>
    <Separator />
    <Link href="/posts" title="Posts" rel="prefetch">Posts</Link>
    <Separator />
    <Link href="/fm" title="Last.fm" rel="prefetch">Last.fm</Link>
    <Separator />
    <Link href={credits} title="Credits" rel="prefetch">Credits</Link>
    <Separator />
    <Link href={domains} title="Domains" rel="prefetch">Domains</Link>
    <Separator />
    <Link href="https://github.com/solelychloe/arciniega.one" title="Source code" target="_blank">Source</Link>
  </nav>
</footer>
