---
import Link from '@components/link.astro';
import Separator from '@components/separator.astro';
---

<footer class="mt-1 flex flex-grow flex-col">
  <slot />

  <hr class="text-ctp-pink" />

  <span class="flex-cel mt-4 mb-1 flex flex-col"> </span>

  <nav class="links">
    <Link href="/" title="Home" rel="prefetch">Home</Link>
    <Separator />
    <Link href="/posts" title="Posts" rel="prefetch">Posts</Link>
    <Separator />
    <Link href="/credits.txt" title="Credits" rel="prefetch">Credits</Link>
    <Separator />
    <Link href="/domains" title="Domains" rel="prefetch">Domains</Link>
    <Separator />
    <Link href="https://github.com/solelychloe/arciniega.one" title="Source code" target="_blank">Source</Link>
  </nav>
</footer>

<style>
  a {
    @apply text-ctp-pink;
  }
  .links {
    @apply flex flex-wrap gap-[15px] md:gap-[10px];
  }
</style>
