---
import Link from '@components/link.astro';
---

<footer>
    <slot />
    <hr />

    <span>© {new Date().getFullYear()} Chloe Arciniega/solely.</span>

    <nav>
        <a href="/" title="Home page" rel="prefetch">Home</a> |
        <a href="/blog" title="My blog" rel="prefetch">Blog</a> |
        <a href="/credits.txt" title="Credits" target="_blank" rel="prefetch">Credits</a> |
        <a href="/domains.txt" title="Domain list" target="_blank" rel="prefetch">Domain list</a> |
        <Link link="https://github.com/solelychloe/arciniega.one" title="Source" />
    </nav>
</footer>

<style>
    footer {
        margin-top: 1em;
        text-align: center;
    }
</style>
