<footer>
  <slot />
  <hr />
  <span>© 2021-present Chloe Arciniega/solely.</span>
  <br />
  <a href="/" title="Home Page">Home</a>
  |
  <a href="credits.txt" title="Credits" target="_blank">Credits</a>
  |
  <a href="domains.txt" title="Domain List" target="_blank">Domain List</a>
  |
  <a href="LICENSE" title="MIT License" target="_blank">License</a>
</footer>
