---
import Bar from '@components/bar.astro';
import Link from '@components/link.astro';
---

<footer>
  <slot />
  <hr />

  <span>
    &copy; {new Date().getFullYear()}
    Chloe Arciniega.
  </span>

  <nav class="footer-links">
    <Link href="/" title="Home">Home</Link>
    <Bar />
    <Link href="/posts" title="Posts">Posts</Link>
    <Bar />
    <Link href="/credits.txt" title="Credits">Credits</Link>
    <Bar />
    <Link href="/domains.txt" title="Domains">Domains</Link>
    <Bar />
    <Link href="https://github.com/solelychloe/arciniega.one" title="Source code" target="_blank">Source</Link>
  </nav>
</footer>

<style>
  footer {
    margin-top: 1em;
    text-align: center;
  }
</style>
