---
import Link from '@components/link.astro';
---

<footer class="mt-1 flex flex-grow flex-col">
  <slot />

  <hr class="text-accent" />

  <span class="flex-cel mt-4 mb-3 flex flex-col">
    &copy; {new Date().getFullYear()}
    Chloe Arciniega.
  </span>

  <nav class="links">
    <Link class="text-accent" href="/" title="Home">Home</Link>
    <Link class="text-accent" href="/posts" title="Posts">Posts</Link>
    <Link class="text-accent" href="/credits.txt" title="Credits">Credits</Link>
    <Link class="text-accent" href="/domains" title="Domains">Domains</Link>
    <Link class="text-accent" href="https://github.com/solelychloe/arciniega.one" title="Source code" target="_blank">
      Source
    </Link>
  </nav>
</footer>

<style>
  .links {
    @apply flex flex-wrap gap-[15px] md:gap-[10px];
  }
</style>
