---
import Bar from '@components/bar.astro';
import Link from '@components/link.astro';
---

<footer class="flex flex-grow flex-col text-center">
  <slot />

  <hr class="text-accent" />

  <span class="flex-cel mt-4 flex flex-col">
    &copy; {new Date().getFullYear()}
    Chloe Arciniega.
  </span>

  <nav class="footer-links text-1em font-['Atkinson_Hyperlegible']">
    <Link class="text-accent" href="/" title="Home">Home</Link>
    <Bar />
    <Link class="text-accent" href="/posts" title="Posts">Posts</Link>
    <Bar />
    <Link class="text-accent" href="/credits.txt" title="Credits">Credits</Link>
    <Bar />
    <Link class="text-accent" href="/domains.txt" title="Domains">Domains</Link>
    <Bar />
    <Link class="text-accent" href="https://github.com/solelychloe/arciniega.one" title="Source code" target="_blank">
      Source
    </Link>
  </nav>
</footer>
