<section class="links">
    <a
        href="https://discord.com/users/312145496179474434"
        aria-label="Discord: solely#0001"
        title="Discord: solely#0001"
        target="_blank"
    >
        Discord [solely#0001]
    </a>
    <a
        href="https://tech.lgbt/@solely"
        aria-label="Mastodon: solely@tech.lgbt"
        title="Mastodon: solely@tech.lgbt"
        target="_blank"
    >
        Mastodon
    </a>
    <a
        href="https://github.com/solelychloe"
        aria-label="GitHub: solelychloe"
        title="GitHub: solelychloe"
        target="_blank"
    >
        GitHub</a
    >
    <a
        href="https://t.me/solelychloe"
        aria-label="Telegram: solelychloe"
        title="Telegram: solelychloe"
        target="_blank"
    >
        Telegram</a
    >
    <a
        href="https://keybase.io/solelychloe"
        aria-label="Keybase: solelychloe"
        title="Keybase: solelychloe"
        target="_blank"
    >
        Keybase</a
    >
    <a
        href="mailto:solely@riseup.net"
        aria-label="Mail: solely@riseup.net"
        title="Mail: solely@riseup.net"
        target="_blank"
    >
        Mail</a
    >
</section>

<style>
    .links {
        font-size: 1.1em;
        margin-top: 0.6em;
    }
</style>
