---
/* eslint-disable */
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  icon?: string;
}
/* eslint-enable */

const { href, class: className, ...props } = Astro.props;
---

<!-- prettier-ignore -->
<a href={href} class:list={`${[className]} hover:underline text-accent`} {...props}><slot /></a>
