<h2 class="underline"><slot /></h2>

<style>
    .underline {
        border-bottom: 0.1em solid;
        border-bottom-color: var(--accent-color);
        padding-bottom: 0.2em;
        width: fit-content;
    }
</style>
