<h2 class="underline"><slot /></h2>

<style lang="scss">
  @import '../styles/custom';

  .underline {
    border-bottom: 0.1em solid;
    border-bottom-color: $accent;
    padding-bottom: 0.2em;
    width: fit-content;
  }
</style>
