body {
  background-color: #1e1e2e;
  width: auto;
  padding: 8px 14px;
  color: #cdd6f4;
  font-family: 'Atkinson Hyperlegible', 'Segoe UI', apple-system, BlinkMacSystemFont, Futura, Roboto,
    Arial, system-ui, sans-serif;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.item {
  max-width: 768px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

hr {
  border-color: #45475a;
  margin-top: 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1.1rem;
  font-style: italic;
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 0.375rem;
  border-width: 1px;
  padding: 1.25rem;
}

.banner-header {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

a {
  color: #f5c2e7;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

a:hover {
  text-decoration: underline;
  opacity: 0.5;
}
