---
interface Props {
  src: {
    discriminant: boolean;
    value: string;
  };
  alt: string;
  caption?: string;
}

const {
  src: { value: src },
  alt,
  caption,
} = Astro.props;
---

<div class="flex flex-col items-center">
  <img class="-mt-0.5" {src} {alt} />
  <figcaption class="-mt-6">{caption}</figcaption>
</div>
