---
import { Icon } from 'astro-icon/components';

interface Props {
  description: string;
  image: string;
  caption?: string;
}

const { description, image, caption } = Astro.props;
---

<div class="flex flex-col gap-4">
  <details class="group border-2 border-ctp-mauve bg-ctp-crust p-4 dark:border-ctp-pink">
    <summary class="flex cursor-pointer select-none items-center justify-between gap-4">
      <div class="flex flex-col flex-wrap gap-2">
        <span class="font-bold">Spoiler:</span>
        {description}
      </div>

      <div class="relative h-10 w-10">
        <Icon
          name="mdi:plus"
          class="absolute opacity-100 group-open:opacity-0"
          size={40}
          aria-hidden="true"
        />
        <Icon
          name="mdi:minus"
          class="absolute opacity-0 group-open:opacity-100"
          size={40}
          aria-hidden="true"
        />
      </div>
    </summary>

    <div class="flex flex-col pt-5">
      <img class="-mt-0.5" src={image} alt={caption} />
      <figcaption class="-mt-6">{caption}</figcaption>
    </div>
  </details>
</div>
