---
import { blog } from '@config';
const {
  comments: { options: option },
} = blog;
---

<div class="giscus"></div>
<script
  is:inline
  src="https://giscus.app/client.js"
  data-repo={option['data-repo']}
  data-repo-id={option['data-repo-id']}
  data-category={option['data-category']}
  data-category-id={option['data-category-id']}
  data-mapping={option['data-mapping']}
  data-strict={option['data-strict']}
  data-reactions-enabled={option['data-reactions-enabled']}
  data-emit-metadata={option['data-emit-metadata']}
  data-input-position={option['data-input-position']}
  data-theme={option['data-theme']}
  data-lang={option['data-lang']}
  crossorigin={option['crossorigin']}
  async></script>
