---
import { Icon } from 'astro-icon/components';

const { page } = Astro.props;
---

{
  page.url.next && (
    <div class="flex flex-row-reverse">
      <Icon size={30} name="mdi:arrow-right" />
      <a href={page.url.next} title="See mofd articles">
        See more articles
      </a>
    </div>
  )
}

{
  page.url.prev && (
    <div class="flex">
      <Icon size={30} name="mdi:arrow-left" />
      <a href={page.url.prev} title="See newer articles">
        See newer articles
      </a>
    </div>
  )
}

<style>
  .flex {
    @apply pt-2;
  }
</style>
