---
import Link from '@components/base/Link.astro';
import { Icon } from 'astro-iconify';

const { page } = Astro.props;
---

{
  page.url.next && (
    <div class="flex flex-row-reverse pb-2 pt-2">
      <Icon size={35} class="text-ctp-mauve dark:text-ctp-pink" name="mdi:arrow-right-thin" />
      <Link title="See older articles" href={page.url.next}>
        See older articles
      </Link>
    </div>
  )
}

{
  page.url.prev && (
    <div class="flex pb-2 pt-2">
      <Icon size={35} class="text-ctp-mauve dark:text-ctp-pink" name="mdi:arrow-left-thin" />
      <Link title="See newer articles" href={page.url.prev}>
        See newer articles
      </Link>
    </div>
  )
}
