---
import { Icon } from 'astro-icon/components';

const { page } = Astro.props;
---

{
  page.url.next && (
    <div class="flex flex-row-reverse pt-2">
      <Icon size={30} name="mdi:arrow-right" aria-hidden={true} />
      <a href={page.url.next} title="See more articles">
        See more articles
      </a>
    </div>
  )
}

{
  page.url.prev && (
    <div class="flex pt-2">
      <Icon size={30} name="mdi:arrow-left" aria-hidden={true} />
      <a href={page.url.prev} title="See newer articles">
        See newer articles
      </a>
    </div>
  )
}
