---
import Link from '@components/Link.astro';

export interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<span class="tag rounded-lg border border-ctp-mauve px-3 py-1 dark:border-ctp-pink">
  <Link href={`/posts/tag/${tag}`} title={`Post tagged with ${tag}`}>#{tag}</Link>
</span>
