---
import Layout from '@layouts/Page.astro';

import BlogCard from '@components/blog/BlogCard.astro';

import { Icon } from 'astro-iconify';
import type { CollectionEntry } from 'astro:content';

interface Props {
  articles: CollectionEntry<'articles'>[];
}

const { articles } = Astro.props;
---

<Layout
  description="A personal blog, comprising of whatever stuff I find interesting to post."
  pageTitle="Articles"
  title="Articles | Chloe Arciniega"
>
  <header class="flex flex-col gap-3 pb-3">
    <h1 class="title">Articles</h1>
    <p>A personal blog, comprising of whatever stuff I find interesting to post.</p>

    <section>
      <Icon size={20} name="mdi:rss" />
      <a title="Subscribe to my RSS feed" href="/rss.xml"> Subscribe to RSS</a>
    </section>
  </header>

  <hr class="text-ctp-mauve dark:text-ctp-pink" />

  {
    articles
      .sort((a, b) => new Date(b.data.created).valueOf() - new Date(a.data.created).valueOf())
      .map(async (article) => {
        const { remarkPluginFrontmatter } = await article.render();
        return (
          <BlogCard
            class="flex flex-col gap-5 rounded-lg border-4 border-ctp-surface1 bg-ctp-surface1 p-4 py-5 dark:border-ctp-mantle dark:bg-ctp-mantle"
            data={article.data}
            slug={article.slug}
            minutesRead={remarkPluginFrontmatter.minutesRead}
          />
        );
      })
  }

  <slot />
</Layout>
