---
import Head from '@components/head.astro';

import '@fontsource/inter';
import '@styles/sakura.css';

interface Props {
    description: string;
    siteName?: string;
    title: string;
}

const { content } = Astro.props;

let description = Astro.props.description ?? content.description ?? '';
let siteName = Astro.props.siteName ?? content.siteName ?? '';
let title = Astro.props.title ?? content.title ?? '';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head description={description} siteName={siteName} title={title} />
    </head>

    <body>
        <slot />
    </body>
</html>
