---
import Head from '@components/head.astro';

import type { PageProps } from '~/types';

import '@fontsource/atkinson-hyperlegible';
import '@fontsource/inter';

const { content } = Astro.props;

const {
  description = content.description ?? '',
  siteName = content.siteName ?? '',
  title = content.title ?? '',
} = Astro.props as PageProps;
---

<!DOCTYPE html>
<html lang="en">
  <Head description={description} siteName={siteName} title={title}>
    <slot name="head" />
  </Head>

  <body
    class="m-auto flex w-screen max-w-[44em] flex-grow flex-col self-center bg-sakura px-[2.5em] py-[1.8em] text-3xl text-white"
  >
    <slot />

    <style is:global>
      :root {
        font-size: 63%;
      }

      html {
        display: flex;
        flex-direction: column;
      }

      .content {
        @apply flex flex-col gap-2;
      }
    </style>
  </body>
</html>
