---
import Head from '@components/head.astro';

import type { PageProps } from '~/types';

import '@fontsource/atkinson-hyperlegible';
import '@fontsource/inter';

import '@styles/sakura.scss';

const { content } = Astro.props;

const {
  description = content.description ?? '',
  siteName = content.siteName ?? '',
  title = content.title ?? '',
} = Astro.props as PageProps;
---

<!DOCTYPE html>
<html lang="en">
  <Head description={description} siteName={siteName} title={title}>
    <slot name="head" />
  </Head>

  <body>
    <slot />
  </body>
</html>
