---
import Head from '@components/base/Head.astro';

import '@fontsource/atkinson-hyperlegible';
import '@fontsource/inter';

interface Props {
  description?: string;
  pageTitle: string;
  title: string;
}

const { description, pageTitle, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head description={description} pageTitle={pageTitle} title={title}>
    <slot name="head" />
  </Head>

  <body class="flex flex-col text-xl md:self-center">
    <slot />

    <style is:global>
      html {
        @apply flex flex-col;
      }

      body {
        @apply ctp-latte bg-light-bg text-light-text dark:ctp-mocha dark:bg-ctp-base dark:text-ctp-text;
        @apply max-w-[45em] px-[1em] py-[2em] md:px-[2.5em];
      }

      nav,
      .line,
      .links,
      .name {
        @apply font-display;
      }

      .content {
        @apply flex flex-col gap-2;
      }

      [astro-icon] {
        @apply inline;
        @apply pb-1;
      }
    </style>
  </body>
</html>
