---
import Head from '@components/head.astro';

import '@fontsource/atkinson-hyperlegible';
import '@fontsource/inter';

interface Props {
  description?: string | unknown;
  pageTitle: string;
  title: string;
}

const { description, pageTitle, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head description={description} pageTitle={pageTitle} title={title}>
    <slot name="head" />
  </Head>

  <body class="flex flex-grow flex-col self-center bg-ctp-base text-3xl text-ctp-text">
    <slot />

    <style is:global>
      :root {
        font-size: 63%;
      }

      body {
        @apply max-w-[44em] px-[2.5em] py-[1.8em];
      }

      html {
        display: flex;
        flex-direction: column;
      }

      nav,
      .line,
      .links,
      .name {
        @apply font-display;
      }

      .content {
        @apply flex flex-col gap-2;
      }

      [astro-icon] {
        @apply inline;
        @apply pb-1;
      }
    </style>
  </body>
</html>
