---
import Head from '@components/base/Head.astro';
import NavBar from '@components/base/NavBar.astro';

import '@fontsource/atkinson-hyperlegible';

interface Props {
  description?: string;
  pageTitle: string;
  title: string;
}

const { description, pageTitle, title } = Astro.props;
---

<!doctype html>
<html class="flex flex-col" lang="en">
  <Head {description} {pageTitle} {title}>
    <slot name="head" />
  </Head>

  <body class="flex flex-col text-xl md:self-center">
    <NavBar />

    <main class="flex flex-col gap-2">
      <slot />
    </main>

    <style is:global>
      a {
        @apply font-medium text-ctp-mauve transition ease-out hover:underline hover:opacity-60 dark:text-ctp-pink;
      }

      body {
        @apply font-body;
        @apply ctp-latte bg-ctp-base text-ctp-text dark:ctp-mocha selection:bg-ctp-mauve selection:text-ctp-crust dark:selection:bg-ctp-pink;
        @apply max-w-[45em] px-[1em] py-[2em] md:px-[2.5em];
      }

      [data-icon] {
        @apply text-ctp-mauve dark:text-ctp-pink;
      }
    </style>
  </body>
</html>
